.pointer {
  cursor: pointer;
}

.filter-scroll {
  max-height: 200px;
  overflow-y: scroll;
}

/* hide scrollbar in filters */
.filter-scroll::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.filter-scroll::-webkit-scrollbar-thumb {
  background-color: #7d6f6f; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners */
}
